/.nyc_output
/coverage
/lib
!/docs/.vuepress
/docs/.vuepress/dist
/node_modules
!/.vscode
!/.github
/prettier-playground
/tests/fixtures/rules/indent/invalid/ts
/tests/fixtures/rules/valid-compile/invalid/ts
/tests/fixtures/rules/valid-compile/valid/ts
