name: GHPages

on:
  workflow_dispatch: null
  push:
    branches: [main]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    if: github.repository == 'sveltejs/eslint-plugin-svelte'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
      - name: Install And Build
        run: |
          pnpm install --frozen-lockfile
          cd packages/eslint-plugin-svelte
          pnpm run update
          pnpm build
          cd ../../docs-svelte-kit
          export NODE_OPTIONS="--max-old-space-size=8192"
          pnpm build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs-svelte-kit/build
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
